* {
    margin: 0;
    padding: 0;

}

nav {
    background-color: rgb(48, 6, 49);
    color: white;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    height: 65px;
    align-items: center;
    display: flex;

}

.gamecontainer {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    position: relative;
}

.contain {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: -110px;

}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(190, 163, 214);
}

.gameinfo {
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
    display: grid;
}

.image img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.line {
    background-color: rgb(61, 58, 229);
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    transition: width 1s ease-in-out;
}

#reset {
    margin: 0 23px;
    padding: 5px 10px;
    background-color: rgb(231, 28, 28);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    font-size: 17px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;
}

.info {
    font-size: 24px;
    font-family: 'Baloo Bhaina 2', cursive;
    color: yellowgreen;
    background-color: blue;
    border-radius: 15px;
    border: 2px solid black;
    margin: 22px 46px;
    padding: 9px
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    margin: 20px;
    align-items: center;
    display: flex;
    width: 116%;
}

@media screen and (max-width: 950px) {
    #contents {
        width: 90%;
    }

    .gameinfo {
        margin-top: 34px;
    }
}